[2018-09-12 21:03] jmtatsch opened #1 "Newer buildroot & toolchains"
Hi,

is there a reason why you are using such an old version of buildroot?
Have you seen the newer toolchains at https://github.com/tssva/ingenic-toolchains?

[2018-09-12 22:06] anmaped commented on #1
@jmtatsch  I think so. First, kernel can only be compiled with gcc 4.7.x (maybe newer ports appear) and it is a good practice to use the same toolchain to compile all the distribution.
Second, the toolchains you point are based on glibc and not on ulibc as we expect.

I'm currently compiling the v4l2rtspserver from scratch but I get
[code]

It is based on https://github.com/mpromonet/v4l2rtspserve

[2018-09-13 04:32] jmtatsch commented on #1
I don't know.
Have you tried our fork https://github.com/Dafang-Hacks/v4l2rtspserver-master ?

[2018-09-13 21:27] anmaped commented on #1
Yes, but it is not stable at all. There are some pre-compiled libraries which may create some problems in my case (I have to recompile them) since the server shut down sporadically.

[2018-09-20 00:28] anmaped commented on #1
@jmtatsch Could you test the new rootfs? I didn't use yet the website and scripts but v4lrtspserver is now working.

[2018-09-20 05:49] jmtatsch commented on #1
Awesome, will do on the weekend

[2018-09-22 23:15] tssva commented on #1
The toolchains contain both glibc and uclibc.

They also have the advantage of including support for the Ingenic MXU SIMD instruction sets which at some point may be needed. For instance Ingenic uses the MXU instruction set to improve performance of the OpenCV library included with later versions of their sdks.

[2018-09-23 00:05] tssva opened #2 "Current build uses soft floats"
The toolchain is built with `-msoft-float` as a default flag and buildroot is using `--with-float=soft` when compiling the rest of the tree. The xburst processors have a FPU and hard floats should be used to improve performance.

Also `-mno-fused-madd` should be used to avoid a bug in the FPU of xburst processors.

[2018-09-23 14:35] anmaped commented on #2
@tssva Thank you for your input. I was aware of that from the beginning since I have done it for purpose in order to make sure everything works well before enabling the hardware FPU.

Regarding the bug in the Xburst, do you have more information about it ?

[2018-09-23 14:47] anmaped commented on #1
@tssva Yes, this is a good point. We will see how to solve the support for Ingenic MXU SIMD later.

Do you have some examples with OpenCV to test?

[2018-09-23 14:56] tssva commented on #2
More info about the bug can be found at
https://groups.google.com/forum/m/#!topic/mips-creator-ci20/spDB2jjbizM.

On Sun, Sep 23, 2018, 10:35 AM André Pedro <notifications@github.com> wrote:

[2018-09-23 15:07] anmaped commented on #2
Information from the group

Apparently, for mips32r1 it is not required. But they said that mips32r2 may give us 13% of a performance boost on average.

We are using mips32r1.

[2018-09-23 17:39] anmaped commented on #2
Current ed1eeacca27e5999ec8a5d0d2ec0cfb22c86d944 commit solves the problem. FPU is enabled by default.

[2018-09-23 17:39] #2 closed

[2018-09-23 17:42] tssva commented on #2
The Ingenic toolchains have mips32r2 enabled by default.

Also more recent buildroot versions than currently being used have the
xburst architecture as an option. When enabled mips32r2, hard floats and
the no-fused-madd options are enabled.

On Sun, Sep 23, 2018, 11:07 AM André Pedro <notifications@github.com> wrote:

[2018-09-23 18:00] anmaped commented on #2
Buildroot 2014.08 contains it. I will enable it later if needed. Until now I didn't see any advantage to go to mips32r2.

[2018-09-24 17:05] anmaped commented on #1
@jmtatsch Do you have the source of autonight?

[2018-09-24 17:14] jmtatsch commented on #1
https://github.com/EliasKotlyar/Xiaomi-Dafang-Software/tree/master/autonight

There is also an open pullrequest for software autonight

[2018-09-24 17:19] anmaped commented on #1
Thanks. I will include it inside v4lrtspserver tools. Later we could make a proper package for all the dafang tools.

[2018-09-25 23:00] anmaped commented on #1
@jmtatsch The autonight tool is now working in the current build: https://github.com/anmaped/openfang/tree/master/binaries/rootfs

I don't have tested the version using camera exposure, but it's enabled there using the parameter -S.

[2018-10-01 21:19] jmtatsch commented on #1
Is the v4l2rtspserver completely unpatched?
Is it possible to include the stuff like  auto night, motor etc as submodule? that way it would be easier to track source changes & more transparent ... in future a build job could run the buildroot script when ever something has changed in the source repo

[2018-10-01 21:37] anmaped commented on #1
@jmtatsch Yes I have the same ideia. The source code that is available is the one already patched. I want to create the patches from the original source of v4l2rtspserver as you propose. These changes should be tracked carefully in order to avoid future problems.

Autonight, motor, getimage, etc. are available inside the source package in the tools folder.

The idea is to use https://github.com/mp

[2018-10-19 22:23] anmaped commented on #1
@jmtatsch Could you test if mosquito (mqtt) is working well?

[2018-10-21 12:50] jmtatsch commented on #1
@anmaped I will do when i find some time, but I am quite busy with other things right now :(

[2018-11-04 09:15] jmtatsch commented on #1
mqtt is working well by the way

[2018-11-04 09:55] jmtatsch commented on #1
@anmaped what are you plans regarding motion detection? That is arguably the most important feature of these cams :) You want to got the opencv route?

[2018-11-04 13:41] anmaped commented on #1
Good. Could you provide a small tutorial how to configure mqtt? We should
also describe the configuration parameters in the Gui.

[2018-11-04 13:50] anmaped commented on #1
Yes. I think opencv is the best option.

[2018-11-04 15:49] jmtatsch commented on #1
Basically I just added the configuration from dafanghacks mqtt.conf to /etc/mosquitto/mosquitto.conf
[code]
Then you can send a test message like that
mosquitto_pub -h my_mqtt_server_ip_adress  -m "test" -t "mylocation/test_topic"

Sure we can create a gui to change those parameters, however we would need to give cgi script root rights to write in /etc/. Root rights for anything web serving is alm

[2018-11-04 15:57] jmtatsch commented on #1
Concerning opencv motion detection, I would be thrilled if that would work out.
However, i am afraid that resources are too limited for that. Ingenic wouldn't otherwise feel the need to provide highly optimised motion detection routines.

[2018-11-05 00:34] anmaped commented on #1
Fixed in 573788d0f31fd96255b197427aa242daa5c32194.

```sh /opt/autoupdate.sh``` will update to the new version. But there is no exception for config files (some will be overwritten).

We should do a list of directories/files to backup and restore after the update.

[2018-11-20 02:24] anmaped commented on #2
@tssva You can checkout the new version a6742fc8f525a32a5a0d13e5be8c7fd9b7247aaa. mips32r2 is enabled by default.

[2018-11-20 19:10] tssva opened #5 "Build script fails when run on host without selinux support"
The build script uses the `cp --preserve=context` command which fails when the hosts kernel is built without selinux support. In my case on Ubuntu 18.04.

I have a patch which currently addresses this by checking for kernel selinux support and only including the `--preserve=context` option in that case. My question is whether the option is really needed? I have built many open source projects and

[2018-11-20 19:16] anmaped commented on #5
Yes, It's true. I think we can remove it.

[2018-11-20 19:42] tssva opened #6 "Build fails on hosts with openssl 1.1.0"
If openssl 1.1.0 is installed on the build host compiling the Python _ssl and _hashlib modules fails causing the buildroot compile to fail.

The python build appears to be using the openssl headers installed on the build host instead of those of the buildroot openssl package. If the build host has openssl 1.1.0 installed this causes the build to fail because python 2.7 is not compatible with opens

[2018-11-20 19:57] anmaped commented on #6
I'm using `OpenSSL 1.1.0h-fips  27 Mar 2018`. Could you explain your setup ?

[2018-11-20 20:58] anmaped commented on #6
Is the problems building host-python-2.7.11 package ? The openssl is compiled by builldroot two times `host-openssl-1.0.2g` and `openssl-1.0.2g`. One is for the buildroot host and the other for the buildroot target. How can buildroot be using a different host then that ?

[2018-11-20 21:08] tssva commented on #6
My mistake. I didn't realize that it was building once for the host and then for the target platform. I assumed the error was happening when building for the target, but checking it is failing for host-python.

[2018-11-20 21:30] tssva commented on #6
host-openssl is not being built which is why host-python is using the openssl 1.1.0 headers in the host's /usr/include. Now to figure out why host-openssl isn't being built.

[2018-11-21 14:01] tssva commented on #6
Did some research and found the issue. host-python is built with ssl disabled; however, if the python build process detects the openssl header files during build it will try to build _ssl anyways in order to use the openssl hash routines for _hashlib. This fails when openssl 1.1.0 is installed.

There are patches available which disable the check for openssl and has python use it's built-in versio

[2018-11-21 14:15] anmaped commented on #6
But do you know why in your system buildroot is not building host-openssl?

[2018-11-21 15:36] tssva commented on #6
host-python is built first because host-openssl isn't a dependency for it.

On Wed, Nov 21, 2018, 9:15 AM André Pedro <notifications@github.com wrote:

[2018-11-21 19:17] #6 closed

[2018-11-21 19:50] #5 closed

[2018-11-21 21:31] jmtatsch commented on #1
After the update /mnt/update somehow is still mounted, so the next update fails with:
`mount: mounting PPwPPw on /mnt/update failed: Device or resource busy`
although there is https://github.com/anmaped/openfang/blob/aeac4f0983762a0b36f3b46e339fe44b2da0ab15/fs/opt/autoupdate.sh#L20
using the same command manually works.
Could this be a timing issue somehow?

[2018-11-21 21:44] jmtatsch commented on #1
Oh and I seem to have lost my wpa_supplicant.conf during the update :(

[2018-11-22 01:41] anmaped commented on #1
You can put the file in the second partition. It will be used/copied automatically.

[2018-11-22 01:46] anmaped commented on #1
Yes. The problem is that some tools are running and we should shutdown them first. Yet, this update script is outdated, let's see the new one in the next release, which you can find here https://github.com/anmaped/openfang/releases/download/rc05_01/autoupdate.sh.

[2018-11-22 01:53] anmaped commented on #1
@tssva Have you been able to compile it? Could you describe the dependencies in terms of the external environment?

[2018-12-18 19:59] jkuepker opened #9 "Install instructions need clarification"
A few questions on the install instructions:
1. How do I SSH to flash the u-boot on a stock Wyzecam T20?
2. Once I flash rootfs.ext3/2 what do I do?
3. How do I setup my Wifi network?
4. Can we get instructions for MacOS?

Also, in the windows instructions, the flasher is using ext2, but in the linux instructions, it is showing ext3.  Which one is it?

Thank you.

[2018-12-19 17:38] anmaped commented on #9
Regarding the first point you have to upload a modified bootloader using a fw hack or ask wyzecam for the ssh credential (xiaomi allows it but I'm not sure about wyzecam).

(2) (3) You should do two partitions in the sdcard. One for the rootfs (ext2/ext3) and the second one in exfat to save the `wpa_supplicant.conf` file and other files of interest. It will connect to the wireless network accordin

[2018-12-20 09:03] aregbee opened #10 "Root Password?"
what is the root password in case I want to switch to another build to try like DafangHacks? I cannot issue the commands to flash the bootloader from the Admin account so making the password available would be quite helpful!

[2018-12-20 10:25] jmtatsch commented on #10
Sudo should be included now or just use su.

[2018-12-20 17:44] aregbee commented on #10
Thanks, that worked! I was able to set the root password after issuing an su.

Just to clarify...now that I have root access and can issue the appropriate commands, am I able to update from RC4 to RC5 without a PC?

[2018-12-20 21:07] jmtatsch commented on #10
Yes

[2019-01-22 20:46] akutruff commented on #9
I put wpa_supplicant.conf on the fat32 partition.  Are there any other files to put in that parttion?  Nothing is happening on the device.  Am I supposed to actually copy all the files on github into that partition just like Dafang-hacks, or is the ext2 partition simply ready as-is?

[2019-01-22 20:51] akutruff commented on #9
Also, I simply wrote the ext2 partition on Windows 10 using the utility you linked to.  I did notthing with ext3.  Is that correct?

[2019-01-22 21:03] anmaped commented on #9
@jkuepker Try to format the second partition as exfat instead of fat32.

[2019-01-22 21:13] akutruff commented on #9
At the moment I'm just seeing a blinking orange light on the back of the camera, so I don't know if it's even getting to the wpa_supplicant stage.  How do I know if things are going okay?

Otherwise - Exfat isn't an option on windows 10... I tried NTFS just now as it showed in your screenshot.

[2019-01-22 22:32] akutruff commented on #9
I recreated the flash card from Ubuntu.  Still not working.  After untaring the files I noticed that rootfs.ext3 is a symbolic link to a non-existant ext2 file.  I flashed the rootfs.ext2 file to the first partition.

#This doesn't work
dd if=/path/to/image/rootfs.ext3 of=/dev/sdb1

Any ideas?

I just saw that rc5 bootloader says untested... Does that mean it's never been tried by anyone?

[2019-01-23 11:33] anmaped commented on #9
The led codes are:
- orange led blinking: not yet initialized
- orange led solid: successfully initialized
- blue led: microsd card activity

I'm using windows 10 and I'm able format any sdcard to `exfat`.

ext2 file is the correct file to flash. As already said, `ext2` or `ext3` images are the same (one links to the other). The journaling in the case of `ext3` is enabled when starting the filesys

[2019-01-23 14:10] akutruff commented on #9
Thanks for the replies.

What do you mean modify /dev/sdb1 to the correct device?  That’s the first partition on the SD card.

[2019-01-23 14:17] anmaped commented on #9
@akutruff I mean that you could have other devide such as sdc1 or sdd1 etc...

[2019-01-23 14:21] akutruff commented on #9
Oh, heh.  Yeah, sorry, I misunderstood.  I verified sdb was by usb drive and partitioned it to a 5GB type 7 (sdb1) and a 32GB type 7 (sdb2.)

Well, I'm kind of stuck now.  Not sure what I can try next.

[2019-01-23 16:50] anmaped commented on #9
@akutruff Which camera are you using? Have you flashed the bootloader?

[2019-01-23 16:53] akutruff commented on #9
Wyze V2.  Yep.  I flashed the bootloader.  I gained access to the device by using the dafang-hacks project.  I then followed your instructions.

[2019-01-23 16:56] akutruff commented on #9
Are there more instructions that are assumed as obvious that I'm possibly missing?  For example, you mentioned wpa_supplicant.conf in this thread and that is not mentioned in the installation documentation.  I have a single file on partition 2 - the wpa_supplicant.conf.

[2019-01-28 16:42] anmaped commented on #9
@akutruff Do you have a chance to use a serial interface over the camera?

[2019-01-28 16:51] akutruff commented on #9
I'd have to solder, correct?  Reluctant to do that until I know the full instructions to install the firmware and where to put wpa_supplicant.conf.

I'm happy to continue working through issues on this project.  However, I need clear documentation of the setup process.  Please document everything, starting completely fresh from a factory camera.  Write down absolutely every step and command you ty

[2019-02-01 21:11] llimz opened #11 "Blink orange led"
@anmaped After some investigations, I can fix my blinking orange led problem by updating the script S40dafang

I changed it from
	# set solid yellow led
	echo none >/sys/class/leds/led_yellow/trigger
	echo 1 >/sys/class/leds/led_yellow/brightness

to:
	# set solid yellow led
	echo none >/sys/class/leds/led_yellow1/trigger
	echo 1 >/sys/class/leds/led_yellow1/brightness

And I've got a simple orang

[2019-02-01 21:26] anmaped commented on #11
Fixed 9dc6c8602101789fe9b554d4d8a4f1f62a14f00b.

[2019-02-02 21:18] llimz opened #13 "v4l2rtspserver not working"
Hello,

My camera is now almost working. The model is Mijia 1080P camera (with the white back). I've got the network connection ok, SSH connection working too. But the video streaming is not working. After the boot process, I'm connecting through SSH and I don't see any v4l2rtspserver process running (via the command line 'ps aux' for example).

I then try to launch the process manually (with 'su'

[2019-02-04 01:17] anmaped commented on #13
Could you try 73bd1cfa9e3dadc1a67529595d8b6c8543cb2d5b. It fixes your problem!

[2019-02-04 01:20] anmaped commented on #13
Just clean the old version of v4l2rtspserver using
[code]

Now you can reflash the new rootfs.ext2 image.

[2019-02-04 01:54] anmaped commented on #13
Don't forget to generate the init file `/usr/bin/v4l2rtspserver-v0.1.3.ini` as follows:
[code]

[2019-02-04 07:12] llimz commented on #13
I got the errors below when trying to compile. It seems that there is still old references to the previous v4l2rtspserver

[code]

[2019-02-04 07:23] llimz commented on #13
Strange. I still had the file sensor_fix.patch on my local repo but it seems to be deleted in your git repository. I deleted manually the file sensor_fix.patch and launched the compilation again. Let's see after the whole process if it is working. Thank you.

[2019-02-04 09:25] llimz commented on #13
The new version is working correctly. Thank you. I can reach the RTSP stream with VLC

I also updated manually the S40dafang script to run the new version at boot. The script is still linked to 0.0.8 version.

Note for the follow-up. I had to run again `make v4l2rtspserver-dirclean` after removing manually the "sensors_fix.patch". Otherwise I had other patches problems when running the patch "add_

[2019-02-04 09:33] llimz opened #14 "IP address changing every reboot"
Hello,

Just in case it helps. With my mijia "white back" camera, the IP address changes on every reboot. After some investigations it seems that the partition read to find the MAC address is empty with this camera.

If I run:

[code]

The params folder is empty.

[2019-02-04 16:21] anmaped commented on #14
Yes. We have to read the EFuse bits of the wireless chip in order to get the right MAC address.

[2019-02-04 16:22] anmaped commented on #13
Good news! Thanks for the effort :) May I close the issue ?

[2019-02-04 19:13] #13 closed

[2019-02-04 19:20] llimz opened #15 "v4l2rtspserver v0.1.3 HLS"
Hello,

With this version of v4l2rtspserver, does the HLS stream working? I cannot find the correct parameter to put in the .ini file (and I don't know if it exists or not). In the previous version, I read that there was a parameter "-S" in the command line to enable the HLS stream. Thank you.

[2019-02-04 21:27] anmaped commented on #15
@llimz I'm really not happy with the patch I have applied. Just removing the CLI is not the way to go. I'm trying to get rid of libimp which is a pre-compiled library required to access and configure the image processing unit. The idea is to maintain the v4l2rtspserver as it is evolving and not patching it only for Ingenic T20 SOC.

You are welcome if you can help me with that.

[2019-02-04 22:17] anmaped commented on #10
May I close this issue ?

[2019-02-05 07:22] llimz commented on #15
As I'm really new with buildroot and all this kind of stuff I'm not sure I can help a lot. But I will try!

Just to ensure I understood your goal. Actually, you would like to use the official version of v4l2rtspserver (from this repo https://github.com/mpromonet/v4l2rtspserver) without patching it by adding libimp and find a way to use e.g. /dev/video0 as input to access the video source?

[2019-02-05 13:38] anmaped commented on #15
Yes, it's that.

[2019-02-07 06:33] therosss opened #16 "Flash dump - with or without bootloader?"
Does the Flash dump you supplied @ openfang/doc/sxj02ZM/ dump.tar.xz already havee a bootloader onboard? I'm missing the info if it is untouched or modded.

[2019-02-07 14:56] JelmerT opened #17 "Openfang vs Dafang-hacks"
[Dafang-Hacks](https://github.com/Dafang-Hacks/rootfs) seems like a very similar effort to [Openfang](https://github.com/anmaped/openfang/)

Which one should I choose to flash and contribute to?
Wouldn't it be beneficial to both to combine forces and focus on one of both?
@anmaped and I think @EliasKotlyar among others

[2019-02-07 16:44] anmaped commented on #17
Hi @JelmerT !

Good that you ask that. We are not disjoint forces since we are sharing information between both projects, but I will try to clarify some points. For some cases you just can choose Dafang-Hacks but if you are interested in OpenCV and on a platform that you want to modify then you should choose Openfang.

As one of the Dafang-hacks contributors said in October last year

https://gith

[2019-02-07 16:57] anmaped commented on #16
Hi @therosss! As the name suggests is just the original dump, otherwise it should be a custom FW.

[2019-02-07 16:58] #10 closed

[2019-02-07 17:14] therosss commented on #16
Ooooh. That is the reason why my cam did not boot into the custom Firmware.
Thank you very much for the Response.
Could you link me to a compiled bootloader which I can burn on my SOP?
Feel free to close this issue as it doesn't seem to be one.

[2019-02-07 20:33] JelmerT commented on #17
Thanks for taking the time to explain this @anmaped!
I conclude that the openfang is more flexible towards future/other devices and (currently) the most active, although being based on some original efforts made with the Dafang-hacks. 👍

[2019-02-07 20:33] #17 closed

[2019-02-07 20:46] anmaped commented on #9
Unfortunately, yes. We can also try to write stuff to the sd card in order to debug the problem.

You are right, but sometimes we also need help from the community. You can help us to give such a contribution. Could you elaborate on the steps you have done?

[2019-02-07 20:52] akutruff commented on #9
I followed all the steps in the instructions and then had to fill in the blanks above.

I recommend you start completely from from a new camera and try to follow the instructions precisely as written through the eyes of a new user.  If you type something that's not in the instructions, I recommend putting them in there.  I'm guessing you'll find that there's steps that were assumed.

[2019-02-07 20:53] akutruff commented on #9
Also, considering I bricked my camera, I think I'm doing my part as a member of the community.  ; )

[2019-02-07 21:06] anmaped commented on #9
What do you mean by brick?

[2019-02-07 21:57] anmaped commented on #9
Files [doc/install.md](../tree/master/doc/install.md) and [doc/troubleshooting.md](../tree/master/doc/troubleshooting.md) have been updated.

[2019-02-07 22:04] jmtatsch commented on #17
Openfang is basically dafang hacks rootfs on a solid open buildroot foundation. Unfortunately the motion detection is not supported yet which is the one must have feature for me.

[2019-02-07 22:40] anmaped commented on #16
Here it is [u-boot-lzo-with-spl_t20_64M.zip](https://github.com/anmaped/openfang/files/2842929/u-boot-lzo-with-spl_t20_64M.zip).

[2019-02-08 06:36] therosss commented on #16
Great! @anmaped Thank you very much. I'm slightly confused as the SOP is actually a 128mbit one.

After erasing the SOP and flashing it only with the u-boot-lzo-with-spl_t20_64M.bin file, the cam is dead again. I wonder what I am doing wrong here :D

[2019-02-08 07:45] anmaped commented on #16
I guess you are not using the right rootfs (which one are you using?) since the bootloader doesn't change the leds. If you can check the serial you'll see that it is working.

[2019-02-08 08:02] therosss commented on #16
The LEDs don't blink at all :)
Since I did not yet compile much, I used the rootfs.ext2 from "release candidate 5 - openfang 01" which you compiled.
I'll give it a try with compiling the current repo and writing the rootfs to the SD Card.

[2019-02-08 08:49] anmaped commented on #16
You can use this file [rootfs.ext2_04022019.xz](https://ufile.io/jtv42).
I will do the new rc6 release soon!

[2019-02-08 10:56] therosss commented on #16
Thank you @anmaped After all it was the rootfs that was not right.

The cam booted now and It's connecting to the Wifi etc.

Still having a lot of issues like WebUI not working properly, LEDs not functioning, poor image quality and IR-LEDs not working either, but that'S something which I wasn't aiming at first.
Do you want me to open an issue for each case, or shall I first wait a bit?

[2019-02-08 10:59] anmaped commented on #16
Just wait a bit. Some issues are already solved.

[2019-02-08 20:44] anmaped commented on #16
@therosss What do you mean by "LEDs not functioning"? Are blue and yellow LEDs not blinking etc?

[2019-02-08 22:04] therosss commented on #16
The Orange LED is constantly on.
And the controls of the web GUI don't work

[2019-02-09 18:00] #9 closed

[2019-02-10 23:19] arkhub opened #18 "is dafang bootloader cross compatible with openfang?"
as the tittle suggest, I have already flashed my dafang 128mb camera with dafang-hack custom u-boot bootloader, and I want to try openfang but without flashing the bootloader again, is it possible?

[2019-02-12 21:10] anmaped commented on #18
@arkhub Yes, but not with all of them.

[2019-02-21 20:31] anmaped commented on #18
May I close the issue ?

[2019-02-21 21:24] arkhub commented on #18
sorry, sure

[2019-02-21 21:24] #18 closed

[2019-02-22 02:57] anmaped commented on #14
Fixed dd03c77a03ed773ede2e11c554b3e0a0402edfab

[2019-02-22 02:58] #14 closed

[2019-02-22 03:01] anmaped commented on #16
Fix dd03c77a03ed773ede2e11c554b3e0a0402edfab.

[2019-02-22 03:01] #16 closed

[2019-03-07 23:33] puddly commented on #15
@anmaped I've had the pleasure of working somewhat extensively with `libimp` and I'd love to finally delete it.

The most interesting part of `libimp` is Ingenic's H264 encoder, which appears to be just a stripped-down version of [x264](https://www.videolan.org/developers/x264.html) (I hope properly licensed) with `x264_` replaced with `i264e_` in most of the function names and patches to make it

[2019-03-13 12:41] llimz commented on #14
Hello, I just tested it with last version commited since the 12th of march and it is working fine. The IP address is now always the same after a reboot.

Nice job by the way ! The new way of setting up the camera settings including Wifi SSID and password is very user friendly (via the web interface).

I still cannot get pictures/video from the camera with v4l2rtspserver but I assume it is normal u

[2019-03-14 19:54] anmaped commented on #14
@llimz Everything is working now even the mjpeg stream. Ask in the openfang gitter chat if you have some issue.

[2019-03-15 19:14] Anirudhdh opened #21 "Build files"
I run the buildopenfang.sh script on Debian GCC 6.3.0 and get the following errors:
`[ 56%] Building CXX object CMakeFiles/v4l2rtspserver-v0.1.3.dir/src/MulticastServerMediaSubsession.cpp.o
[ 59%] Building CXX object CMakeFiles/v4l2rtspserver-v0.1.3.dir/src/ServerMediaSubsession.cpp.o
[ 62%] Building CXX object CMakeFiles/v4l2rtspserver-v0.1.3.dir/src/ImpCapture.cpp.o
[ 65%] Building CXX object CM

[2019-03-15 20:19] Cabalist commented on #21
Could you use \`\`\` to enclose the error message?  The formatting is all messed up without newlines. :)

[2019-03-15 23:35] Anirudhdh commented on #21
Fixit, sanx.

[2019-03-15 23:54] Cabalist commented on #21
It looks like `live555` isn't being downloaded or put in the right place by the build script.

Silly question but are you building this on a machine with internet access?

[2019-03-16 20:23] Anirudhdh commented on #21
[code]
Internet is available, and liveMedia.hh looks downloaded, but buildopenfang.sh can't find it

[2019-03-16 22:06] anmaped commented on #21
How do you managed to enable v4l2rtspserver version 0.1.3 ?

Have you tried the docker container?

[2019-03-17 00:40] Anirudhdh commented on #21
I just installed liblivemedia-dev from debian repo. Probably v4l2rtspserver is from there. I dont used docker

[2019-03-18 00:13] anmaped commented on #21
Could I close the issue then?

[2019-03-18 07:49] Anirudhdh commented on #21
Issue that I report is still not solved. Probably, the decision is obvious, but I am a noob in Linux. Could you please indicate a exact solution?

[2019-03-19 01:20] anmaped commented on #21
Try to use docker then.

[2019-03-19 20:48] Anirudhdh commented on #21
[code]
Errors what i get.

[2019-03-19 22:07] Anirudhdh commented on #21
[code]
I get follow errors with docker installation.

[2019-03-20 00:36] anmaped commented on #15
@puddly Good that you also have the same insight as me! I have started with some experiments with `gdb` and `strace`. As far as I understood there is a subdevice that the kernel manages where all the configurations are done and we have to know how to perform these configurations. I think debugging it extensively will help us.

Could you describe your setup? Have you tried to use gcc 5 to compile l

[2019-03-22 05:33] puddly commented on #15
I wrote a small RTSP server that interfaces with libimp and libx264 to debug the RTSP problems people seem to be having. I'll clean up the build environment and open source it when I have time.

Thanks, I wasn't aware the new toolchain supported MSA. I am able to compile it but my binary won't link to both libimp and libx264 (something about `-mmsa` enabling floating point stuff that's incompatibl

[2019-03-25 14:27] linkiln commented on #21
There is a problem in 0.1.3 with source of live555 package. You need to decompress and manually change location. After that create archive of v4l2rtspserver-v0.1.3. Also there is problem with 3 libraries libsharedmem.so, libwrap.so and libfilter.so, you need to put them in /usr/lib.

[2019-03-25 21:57] anmaped commented on #21
v4l2rtspserver have done some changes in the repository (live555), you can check it there. However, 0.1.3 it's just not stable as 0.0.8 so I don't recommend to use it for now.

[2019-04-01 20:45] abcheng opened #27 "Purple tint in video and images"
Hi,

On my Wyze Pan Camera, the video and images have a purple tint when using the openfang repo.

I don't have this issue when using the dafang-hacks repo however.

Is there a configuration setting to fix this?

[2019-04-01 21:50] anmaped commented on #27
IR filter switch or wait by night and it will set it up well.

[2019-04-01 22:05] abcheng commented on #27
Hmm, it shows that they're off in the web UI but I'll check again.

[2019-04-01 22:28] anmaped commented on #27
This is a problem with reverse pinouts and some cameras have inverted gpios, others do not. I will fix this soon. Try to turn on and off again.

[2019-04-02 19:16] anmaped commented on #27
Is it solved ?

[2019-04-03 01:28] abcheng commented on #27
Hi,

Yes thanks,, but I had to do a few things.

1) For auto night detection, the auto-night-detection file wasn't under the controlscripts folder.

2) IR cut on is what was able to get it to stop the purple hue / tint.

3) There's quite a few other questions and problems I have. Is there a better way to communicate, or should I just post here on Github.

[2019-04-06 14:04] jannodeluxe opened #28 "[T20L Xiaomi Mijia 2018] Certificate and start S50lighttpd must be done manually every time"
To get the webinterface running I have to create the Certificate and start S50lighttpd every time manually (after each reboot)

![image](https://user-images.githubusercontent.com/46295868/55670574-7e56f200-5886-11e9-85eb-bf2587c41ca2.png)

[openfang rc05_01-31-g0fcd6ae]

[2019-04-06 14:10] jannodeluxe opened #29 "[T20L Xiaomi Mijia 2018] Changing the resolution stops the videostream to work"
choosing the camera type initially (T20L Xiaomi Mijia 2018) sets resolution settings to: 1600x900, VBR, Bitrate 2666.

Because the picture is squished then I tried to change settings to 1920x1080, VBR, same bitrate. But video stream then stops to work. Either on the web frontend then also on rtsp e.g.

[2019-04-06 14:13] jannodeluxe opened #30 "[T20L Xiaomi Mijia 2018] Buttons inverted in Webinterface"
It seems that some or even alle Buttons are inverted in Webinterface. Proof:

When clicking the ON Button for LED (Blue and Yellow) the LED is OFF
When clicking the OFF Button for LED (Blue and Yellow) the LED is ON

![image](https://user-images.githubusercontent.com/46295868/55670612-f9b8a380-5886-11e9-91f2-5eac0bad7be1.png)

[2019-04-06 15:26] anmaped commented on #28
Already solved in 2d1c9fb.

[2019-04-06 15:26] #28 closed

[2019-04-06 15:31] anmaped commented on #29
RAM memory is the real restriction here. I doubt you could use higher resolutions since you will compromise the other memory for the system. If you want you can play with the file uEnv.txt to find the parameters `rmem, ispmem, mem` that best suit your application. Remember that the sum of rmem ispmem and mem should be 64MB.

[2019-04-06 15:36] anmaped commented on #27
@abcheng Why you need auto-night-detection script... auto night daemon is running.

Try to use our gitter channel.

[2019-04-06 20:08] abcheng commented on #27
@anmaped, you mentioned auto by night, which I thought was auto night detection. The only thing I saw was a toggle button which calls the auto night detection script so I copied that over from dafang hacks.

Sounds good, I'll try the gitter channel.

[2019-04-06 23:49] #1 closed

[2019-04-07 09:05] jannodeluxe commented on #28
Hi @anmaped is there already a compiled Version with root.ext2 for that? Or do I have to compile myself?

[2019-05-01 16:46] esarigul commented on #15
@anmaped I am a complete noob here I downloaded your github compiled it for different camera runs on T20 SoC (not Dafang or other models on its web server (setmodel script needed to be modified), it required some tweaking ( I found all corresponding gpio and trying to modify init scripts accordingly (I am still working on it) but it would be nice to have in web interface to other other T20 SoC bas

[2019-05-01 16:49] anmaped commented on #15
@esarigul please open a new issue. Your problem doesn't relate to this one. Before opening it please explain the hardware and the things you want to achieve/issues found.

[2019-05-01 16:58] esarigul commented on #15
will do thanks

[2019-05-01 17:01] esarigul opened #33 "Compiling v4l2rtspserver-v0.1.3 instead of default version which seems buggy"
@anmaped I am a complete noob here I downloaded your github compiled it for different camera runs on T20 SoC (not Dafang or other models on its web server (setmodel script needed to be modified), it required some tweaking ( I found all corresponding gpio and trying to modify init scripts accordingly (I am still working on it) but it would be nice to have in web interface to other other T20 SoC bas

[2019-05-01 17:04] esarigul commented on #33
Forgot to add hardware info:
SoC: T20L (64MB DDR ram)
SPI flash is W25Q80 (8 MB)
no PTZ control

[2019-05-01 17:17] anmaped commented on #33
So you should do a pull request with the changes, and explain which model are you using. Again v4l2rtspserver-v0.0.8 is the default version and v4l2rtspserver-v0.1.3 is not stable. So use 0.0.8 instead.

[2019-05-01 17:34] esarigul commented on #33
@anmaped Can you tell me to steps compile v0.1.3 since v0.0.8 does not work for me, it disconnects at the start.
thx for your time

[2019-05-01 17:37] anmaped commented on #33
Then, v0.1.3 will not work as well. I suggest to check the logs and put them here.

[2019-05-01 18:14] esarigul commented on #33
I check info in /var/log/messages it does not write anything there but in debug console puts the following info, if there is any other log info that I am not aware of,
Debug console output is when I try to make connection
[main thread     ]ServerMediaSubsession.c:25       0| Creating Source...
[main thread     ]ServerMediaSubsession.c:29       0| Creating H264 Source...
[main thread     ]ServerMed

[2019-05-01 18:17] esarigul commented on #33
I cannot set up wifi network either it stucks in setup mode when I open its webpage it show yellow notification message to set the camera everytime I connect to its web page ( video shows with problem), when I connect to openfang wifi network

[2019-05-05 21:48] anmaped commented on #33
@esarigul You have to configure the camera to your setting properly. Without telling us winch model are you using will be difficult since you have to write the correct nvram settings in order to the setup mode be concluded. Otherwise, you will not conclude the setup and then, no settings can be stores in nvram. This is a security procedure to avoid overlapping an incorrect nvram position.

[2019-05-05 22:17] anmaped commented on #30
Fixed b869345a5f43f249c6bcf50cc2dc8e8665215ac1.

[2019-05-05 22:17] #30 closed

[2019-05-05 22:18] anmaped commented on #27
Fixed b869345a5f43f249c6bcf50cc2dc8e8665215ac1.

[2019-05-05 22:18] #27 closed

[2019-05-05 23:59] esarigul commented on #33
@anmaped thank you very much for your response, I am still working on it, everything in my camera seems to be different, flash partition layout, partition names and even flash size (8M instead of 16M), codes for nvram.c and its associated headers needs to be changed ( I am doing it those) as well, once I get everything straight I will let you know (btw in your branch your init scripts refers some

[2019-05-05 23:59] #33 closed

[2019-05-06 00:09] anmaped commented on #33
Are you designing something from scratch?

[2019-05-06 00:35] esarigul commented on #33
Andre you could say that my camera is haosihd which is not well known brand
like wyze, It just uses T20 SoC, I am trying to adapt and make your github
code work with my camera, I hate cloud services which handles my data, that
is main reason I am working on this project, it alse teach me embedded
linux which is a big plus for me :-)

On Sun, May 5, 2019, 19:09 André Pedro <notifications@github.com

[2019-05-06 00:39] anmaped commented on #33
Interesting, so use the gitter channel for any issue.

[2019-05-09 21:19] martin-schlossarek opened #34 "[T20L Xiaomi Mijia 2018] Settings are gone after every reboot"
No matter how I set the settings, whether via the web interface or via `nvram set`, they disappear after every reboot. Is this an expected behavior?

[2019-05-09 21:24] anmaped commented on #34
No. What camera are you using and version ?

[2019-05-09 21:32] martin-schlossarek commented on #34
I'm using Mijia 2018.

[code]

[2019-05-09 21:48] anmaped commented on #34
You are using an old version, I recommend you to compile the last one or wait for rc6. I'll provide it soon.
But as far as I know this version should be working well, try to setup the model, reboot, and setup the model again and reboot, it should solve your issue.

[2019-05-10 21:11] martin-schlossarek commented on #34
Hmm.. rc05_01-46-g5dd319b is from third most recent commit (5dd319b8390b8961f4ccdab9ff43c43d84c4ed36).

I built a new image from the latest commit (b1c396e2c087abf78fef47c629da56b9a551a613), but this version doesn't boot. The LED flashes orange for ~25 seconds (sometimes also blue), stays orange for ~3 seconds and then goes out. The whole thing then repeats itself again and again.

[2019-05-11 03:50] anmaped commented on #34
I will introduce a fix for old bootloaders, but this is due to the lack of the last bootloader which includes the auto device detection.

[2019-05-11 03:56] anmaped commented on #34
Or, you can also add  `hwversion=SXJ02ZM` to the `uEnv.txt` file in the bootargs parameter.

[2019-05-13 22:23] martin-schlossarek commented on #34
Still no success.

5dd319b with hwversion=SXJ02ZM bootargs parameter: settings gone after reboot
~~b1c396e with hwversion=SXJ02ZM bootargs parameter: not bootable~~

 //edit b1c396e boots up with hwversion=SXJ02ZM bootargs parameter, but still no savable settings

[2019-05-13 23:01] anmaped commented on #34
b1c396e you have to set up `hwversion=SXJ02ZM` again, since the uEnv.txt file is replaced by a fresh one.

[2019-05-14 11:19] mgx0 opened #35 "default nvram settings of SXJ02ZM"
Hi,

does anybody have a possibility to export nvram settings (not the certificate, that can be recreated)?

I flushed nvram and lost the pin assignments. Since then also wifi stopped working (connects and gets IP address, but does not communicate)

using this command `nvram show`

thanks

[2019-05-15 03:54] anmaped commented on #35
`nvram clear rtdev; nvram commit` and do a reboot! This will factory reset the device!

[2019-05-15 03:56] anmaped commented on #34
Have it solved your problem?

[2019-05-15 05:46] martin-schlossarek commented on #34
I will try it again this evening because I'm not home right now. I'll keep you posted.

[2019-05-15 17:55] martin-schlossarek commented on #34
Ok, I added `hwversion=SXJ02ZM` to bootargs twice and now it's persisent. But still no look with `nvram set`. Everything is lost after a reboot:

![image](https://user-images.githubusercontent.com/33715215/57797686-45465300-774b-11e9-8da4-1033f39f6ad0.png)

[2019-05-15 19:08] anmaped commented on #34
You have to use `nvram commit` to turn it persistent. You can also use the web UI for the majority of the things.

[2019-05-15 20:20] martin-schlossarek commented on #34
Yes... forgot to use `nvram commit` for the screenshot, but I already tried it with no luck:

![image](https://user-images.githubusercontent.com/33715215/57806497-86486280-775f-11e9-89b1-02744df27d55.png)

Changes on the web ui also don't survive a reboot.

[2019-05-16 04:37] anmaped commented on #34
Try 'nvram clear rtdev; nvram commit; reboot' to factory reset the settings. The certificate should also be renewed by this action.

You can also try to clear all the sections of the nvram, use nvram layout to check them.

As a last resource you have to enable the debug mode on nvram. Some people have tried the fw and it worked well, so I assume it's something wrong with your setting.

[2019-05-16 05:02] mgx0 commented on #35
EDIT: thanks a lot, that did it. I needed to reset rtdev layout, then configure the camera and all nvram entries have reappeared. thanks

[2019-05-16 05:24] #35 closed

[2019-05-16 11:26] HorseDickJoseph commented on #34
Hi anmaped!

I have same issue. Is it poosible make revert back to stock?

[2019-05-16 15:22] anmaped commented on #34
@HorseDickJoseph Can you describe which issue you have?

[2019-05-16 15:56] anmaped commented on #34
You can also try to clean the mtd partition using `flash_eraseall /dev/mtdX`, where `X` is the number of the `config` mtd partition that you can check using `cat /proc/mtd`.

I tried to replicate the issue and I was not able to get it in the same camera and different models.

[2019-05-16 18:27] martin-schlossarek commented on #34
I tried both approaches `nvram clear rtdev; nvram commit` and `flash_eraseall /dev/mtd4`. Still no success.

I followed the installation instructions from TheRoss and desoldered a leg of the SOP8 chip so I could flash the bootloader with a programmer clip. Then I soldered the leg back on. I booted the camera, opened the web ui, changed the wifi settings and the admin password and restarted the cam

[2019-05-16 18:53] anmaped commented on #34
@martin-schlossarek It's strange, I'll upload the image and the bootloader and you can flash them and try (you can also try the gitter chat). Here I can't reproduce such issue, but let's see what @HorseDickJoseph has to say (he said same issue).

[2019-05-17 12:13] HorseDickJoseph commented on #34
@anmaped I have a sami issue, like @martin-schlossarek. After I saved the settings and reboot, lost everything what  Im set it. Looks like after the reboot, this is the first reboot after the flashing.

[2019-05-19 16:57] raulvasquez opened #36 "fix wyze cam 2 tinted image"
I had issues with my wzye cams having a green tinted image. I found this issue on dafang-hacks and it fixed my issue with the image in openfang:

https://github.com/EliasKotlyar/Xiaomi-Dafang-Hacks/issues/813

Pretty easy fix.

[2019-05-19 22:13] anmaped commented on #36
Fixed e410ae4e0d09243c5f6bcd724d692006d2492256.

[2019-05-19 22:13] #36 closed

[2019-05-27 12:05] HorseDickJoseph commented on #34
@anmaped You have any news? How can I revert to stock the camera firmware? (I read the FAQ, if I remove the SD card, normal boot starting. But the camera isnt start.)
You have the original bootloader? My mistake, I forgot saving first :(

[2019-05-28 10:01] HorseDickJoseph commented on #34
Today arrived my second camera (same). I save the bootloader, and write back to the old one. Write is successful, but the camera wont boot.....
[original.zip](https://github.com/anmaped/openfang/files/3226982/original.zip)

[2019-06-03 15:25] anmaped commented on #34
@HorseDickJoseph I didn't understood your problem.

You have the full dump in https://github.com/anmaped/openfang/blob/master/doc/sxj02ZM/dump.tar.xz since December 2018. You can use it.

Edit: you can also find the unpacked FW in https://github.com/anmaped/openfang/tree/master/doc/sxj02ZM/unpacked

[2019-06-03 15:26] anmaped commented on #34
@martin-schlossarek Any news ? Have you solved the problem ?

[2019-06-03 19:09] martin-schlossarek commented on #34
No sorry I was not able to solve the problem. Is there anything I can do to find out what's going wrong? Logs, debug data ...?

[2019-06-05 12:18] HorseDickJoseph commented on #34
Can you tell me how can I use this files?

[2019-06-12 10:20] cnopix opened #37 "autoupdate"
Hi,

i have an issue when i load the autoupdate.

![20190612_055137876_iOS](https://user-images.githubusercontent.com/29841868/59343552-6aa78c00-8d0c-11e9-8751-455464a50362.jpg)

i check the date and it's correct.

can you help me ?

[2019-06-13 20:30] anmaped commented on #37
Hi @cnopix

The autoupdate will only works over openfang releases. You are using a compiled firmware without the tag release. I guess is that the problem.

[2019-06-14 06:57] cnopix commented on #37
Hi @anmaped

So, i need to reflash the firmware on the chip ?

[2019-07-01 20:49] lenisko opened #38 "64M Bootloader"
Following those [(link)](https://github.com/anmaped/openfang/blob/master/doc/SXJ02ZM/SXJ02ZM_instructions.md) instructions, where can I get pre-compiled 64M image?

[2019-07-02 19:00] lenisko commented on #37
@cnopix No. You don't have to touch chip, just re-flash `rootfs`.

[2019-07-02 22:21] lenisko opened #39 "[T20L Xiaomi Mijia 2018] Auto Night detection"
Looks like it's not working
[code]

I have cowered cam with my hand in half of those readings.
Values are very odd...

Any clues?

[2019-07-05 14:19] irakic89 opened #40 "[T20L Xiaomi Mijia 2018] Revert back to stock"
I tried reverting back to stock firmware by removing SD card as suggested in FAQ, but nothing happens, LED doesn't light up at all.

How can I flash it back to stock firmware? Recovery file on SD root didn't help.

Thanks

[2019-07-06 04:58] anmaped commented on #38
Thanks.

[2019-08-05 12:43] TheadoreL opened #41 "Xiaomi mijia 2018 reset to the factory mode"
Hello, my sd card is broken, I flashed a new sd card, but after my cam can't connect to my WIFI also I can't find the ap openfangxx. How can I reset my cam to the factory mode?

[2019-08-09 21:40] anmaped commented on #41
701d62a7747411d9bc3d700bc6b0a9bcb008fda1 fix this problem. Just hold the bind button until it reboots.

[2019-08-14 08:54] eteixido1 commented on #39
Same values for me with covered and uncovered camera (between 719 and 717). Currently I'm using my own compiled version and night mode doesn't activate.

[2019-08-14 19:48] eteixido1 commented on #39
Hello Lenisko, today afer starting IR LED and IR CUT, autonight start returning values between 1800 & 50000. Maybe autonight needs one of them.

[2019-09-08 17:54] klainkaliber opened #43 "Difference to EliasKotlyar/Xiaomi-Dafang-Hacks"
Hi,
what is the difference between _openfang_ and _Xiaomi-Dafang-Hacks_?
Is one building upon the other?

[2019-09-08 18:50] jmtatsch commented on #43
Openfang is inspired by Xiaomi-Dafang-Hacks and basically a cleaner, leaner, saner version of it :)

[2019-09-10 01:00] anmaped commented on #43
I guess @jmtatsch explained it.

[2019-09-10 01:00] #43 closed

[2019-09-10 01:00] anmaped commented on #41
@TheadoreL Have it solved your problem ?

[2019-09-10 01:01] anmaped commented on #40
@irakic89 Have you solved the issue ?

[2019-09-10 01:02] #37 closed

[2019-09-10 13:28] eteixido1 commented on #39
I don't know if there are more options in autonight mode. Some times doesn't start and some times IR-CUT remains active. In general IR-CUT + IR-LED looks better than night mode.

[2019-09-15 19:53] fischermario opened #44 "Update docker instructions"
The docker instructions are outdated. Instead of

[code]

you should run

[code]

The "docker pull" command is unnecessary and the "docker run" command is incomplete as it creates a container that is not able to start and run continuously. I have removed the detach option from the "docker exec" command because otherwise the user does not see the process finishing. Btw the same applies to the secti

[2019-09-19 00:07] anmaped commented on #44
@fischermario Thanks for the info. I'll update it or if you want you could help us by just submitting a pull request.

[2019-09-19 11:36] rtsphack commented on #38
Thanks for adding the link. I'm flashing the 64M image to the Ingenic T20L (64Mb DDR) (Xiaomi Mijia 2018) through linux, I'm finding that when I boot the camera I am getting a solid, light purple LED on the camera but nothing else. This is both with and without the SD card image in the camera.

Any tips? I have seen it on two separate cameras now

![Purple LED](https://user-images.githubuserconten

[2019-09-29 20:50] #44 closed

[2019-10-25 18:24] raulvasquez commented on #15
Can v4l2rtspserver be upgraded inline with the .19 release? I found this repo from dafang-hacks, but was not sure if it would be compatible with buildroot -
https://github.com/Dafang-Hacks/Main/tree/master/v4l2rtspserver-master

[2019-10-28 15:34] ciB89 opened #47 "Need help flashing SXJ02ZM"
So I followed the guide specific for the SXJ02ZM, but I am unsure at a few points:
In the guide it says flashing with windows does not work, but then it gives instructions on how to flash on windows. I followed the instructions and flashing _seemed_ to work (the chip is not empty any more afterwards). So, did that work?

Secondly, do I resolder the desoldered leg after I have finished flashing? Do

[2019-10-28 15:37] mgx0 commented on #47
not sure about the windows flashing part.

but yes you have to solder it back where it was soldered. You don't need to reassemble it back. just make sure it is connected just like it was before (for example you must solder the leg back)

[2019-10-28 15:45] ciB89 commented on #47
Apparently I did not solder the leg correctly, now its turning on. The LED does not start to flash though, it's just shining in a whiteish-purple color. And there's no WIFI hotspot

[2019-10-28 16:11] ciB89 commented on #47
Reflashed the SD-Card and now it works :)

[2019-10-28 16:11] #47 closed

[2019-10-29 12:21] ciB89 opened #48 "[T20L Xiaomi Mijia 2018] some settings not saved"
My camera saves all the settings in "settings", but when I turn on rtsp or mqtt, the setting only shows turned on until the next reboot OR even when I click on the "openfang" on the top left to get my camera preview, all the settings seem to be turned off again.

[2019-11-10 00:43] rumpelrausch opened #49 "v4l2rtspserver-v0.0.8.tar.gz wrongly packed"
The tar is not sorted. On some systems this will produce an error "Directory not empty" when directories appear after their contents.

As a result the build recipe fails.

[2019-11-14 19:37] TheadoreL commented on #41
@anmaped I have tried the 9d34772, but nothing happened.

[2019-11-17 23:35] flexxo commented on #40
I think the best way to revert back to stock is to open camera again and flash the original image into the 25 spi flash. But nobody seems to share their original dump, If original dumps are not unique to each device, I think it maybe a todo for this project to include some original firmware for those who want to revert.
Yes, unfortunately I didn't make backups of my own too :(

[2019-11-23 19:31] amricko0b commented on #40
Greetings!

Seems like the only way of reverting (according to @flexxo) must be mentioned in installation guide
(here https://github.com/anmaped/openfang/blob/master/doc/SXJ02ZM/SXJ02ZM_instructions.md).

[2019-12-26 12:59] QuantumSingularity commented on #34
I unfortunely have to same problem.
The only setting that remains is het ntp-server..
Setting via the nvram set command and nvram commit doesn't persist either.
/opt/version == 2018-11-21 02:01 (latest version on https://github.com/anmaped/openfang/releases )

It's a v3 version of the camera and I've flashed the bootloader with the programmer and de-soldered the vcc-pin (and re-soldered it again a

[2019-12-28 15:52] QuantumSingularity commented on #34
I have found out a work-a-round.

I changed the settings in the webinterface.
After that I check the nvram with:
nvram layout
Then per section:
nvram show uboot
nvram show 2860
nvram show rtdev
nvram show cert
nvram show wapi

After that I edited the init.d file /etc/init.d/S02factory on the sdcard.

[code]

[2020-01-12 15:53] andrewwdao commented on #39
My auto night mode doesn't work too. I'm using the Mijia v3 2018 with the build 6117b8d

I tried to see the value on the terminal and this is result:

$ autonight -D /dev/jz_adc_aux_0 -v -d 1
Current value: 0.00
Current value: 0.00
Current value: 0.00
Current value: 0.00
Current value: 0.00
Window (5) Avg: 0.00
Night Mode Enabled
failed to load /tmp/.nvramcache, Permission denied, nvram_parse
/opt

[2020-01-16 01:45] LunaCam78 opened #51 "Blinking orange LED and not flashing issues"
I am trying to use Openfang on a Xangfang hacked and rooted Neos Smartcam (Similar to Wyze v2)_. It took me several attempts, trying different SD cards and sizes to get it working.  There was a problem when rebooting the cam, it would just flash orange, sometimes after several unplugging it and back on again.
I have tried building an updated version 1st with the Docker image as suggested and then,

[2020-01-24 13:12] LunaCam78 opened #52 "socket: Address family not supported by protocol (raw socket required by specified options).I"
I am getting this error whenever I try to resolve any addresses. It seems to be related to ipv6 in either busybox or the kernal.
ping -4 works ok but ping6 is the same. and also wget and others.

Any suggestions please?

[2020-02-08 22:34] ChrisLuck opened #55 "Does not work with every DIGOO DG W30"
I bought a DIGOO DG W30, took it apart and noticed two things:
- it is using a "GOKE 7102" SoC (this means it will not work with openfang)
- one of the two antennas is fake

So i do not recommend to buy this camera unless you are very sure that you get a version with the ingenic t20 SoC.

[2020-02-18 22:15] irakic89 commented on #40
Does anyone have a stock backup to share? It seems to me that in the current state camera ispretty much unusable.
Thanks

[2020-03-06 01:13] anmaped commented on #55
@ChrisLuck Could you post some pictures?

[2020-03-10 15:37] xdissent opened #56 "Boot loop on Wyze cam 2"
I'm running openfang master (695670d) on a Wyze Cam 2 and [this check](https://github.com/anmaped/openfang/blob/695670d5977bcb7b77c4fcbadeb9885c08546743/fs/etc/init.d/S02factory#L36) is sending it into a boot loop. On my camera, the reset button gpio (pin 50) is always `0` at this point in the boot process, regardless of whether I'm pressing it or not. I don't know if it's looking at the wrong pin

[2020-03-10 15:59] xdissent opened #57 "SD card init fails every other boot"
I don't really follow the "ping/pong" sd card initialization seen [here](https://github.com/anmaped/openfang/blob/695670d5977bcb7b77c4fcbadeb9885c08546743/patches/uboot/uboot-isvp_t20_board.c.patch#L28) and [here](https://github.com/anmaped/openfang/blob/695670d5977bcb7b77c4fcbadeb9885c08546743/patches/uboot/uboot-isvp_t20.h.patch#L54) but it's failing to enable SD ever other boot.

A successful b

[2020-03-10 16:01] xdissent commented on #56
I think this is the behavior #51 describes

[2020-03-10 21:40] anmaped commented on #56
@xdissent Did you flash the compiled openfang bootloader?

[2020-03-11 03:40] xdissent commented on #56
Yes, a compiled openfang bootloader (from master, built in docker locally) has been flashed.

[2020-03-22 00:54] mje-nz opened #58 "Boot loop on SXJ02ZM"
I'm running master ([9d34772](https://github.com/anmaped/openfang/commit/9d3477229108f4bb1f7694fa5b01e03faf8305ec)) on a Xiaomi Mijia 2018, and it's stuck in a boot loop. It's not the same issue as #56 -- it always gets past the factory reset check and doesn't restart until all the init scripts have run. It doesn't sound like #51 either -- I do get the LED blinking orange and blue and the AP showi

[2020-04-28 14:52] ciB89 commented on #40
Also interested in the original firmware.. The camera just keeps crashing / the stream stops after some time and settings are not properly saved..

[2020-04-29 15:12] Supersimmons opened #59 "Model SXJ02ZM"
Hello,
for the model SXJ02ZM i need to program a custom bootloader using a ch341a programmer yet?
Thanks

[2020-05-08 21:10] llimz commented on #58
I've the exact same issue here with the same IP Cam model. Have you found a way to solve it? Thank you

[2020-05-12 07:29] llimz commented on #58
For information, I built a new bootloader from scratch by using the last source code on GitHub. I flashed again my ipcam and the problem is now solved. It boots correctly, and I can reach it throught the openfang wireles AP.

So for me the last bootloader solves the problem.

[2020-05-19 20:15] CamFlyerCH commented on #58
I have the tools to program the flash and the cam open, but I am not able to compile this. I admit, I am a Windows guy. I have a hard time when I need to work with linux. So I would be really happy if someone can put the binaries for the bootloader and the SD card somewhere or even create an release that should work with this cam. Thanks !

[2020-05-20 06:40] llimz commented on #58
This is link where you can download the bootloader I built (8th of May 2020)

https://www.icloud.com/iclouddrive/0H8if7EBB_qxo03mdVsmtu-hQ#u-boot-lzo-with-spl%5Ft20%5F64M

[2020-05-20 23:54] anmaped commented on #57
Could you check line 50?

`elseiftest\"${soctype}\"=\"T20X\"&&test\"${flashtype}\"=\"EN25QH128A\"&&i2cprobe0x40;then\+`

Try to remove this part `&& i2c probe 0x40`.

Problem: the bootloader didn't identify more than two times the same ' if then ' and then the ping pong starts.

[2020-05-21 00:00] anmaped commented on #58
@llimz Many thanks. I'm finishing the CI for doing the releases automatically. I didn't had opportunity to finish the auto update but I'll enable it asap since many people is using it for SXJ02ZM.

I would like to ask for testers and do a small list.

[2020-05-21 00:01] CamFlyerCH commented on #58
Thank you very much ! I would like the SD-Card Image too if possible.

[2020-05-21 00:02] #55 closed

[2020-05-21 00:05] Ozzyminted commented on #57
I got this a lot with rc5 release. Never managed to solve it. And never had
any luck on my neos building the master branch.

Be good if some others got involved to get the project moving again. Its a
shame its stagnated.

On Thu, 21 May 2020, 00:54 André Pedro, <notifications@github.com> wrote:

[2020-05-21 00:13] anmaped commented on #59
Yes. You have to. Try the tutorial available in the docs section.

[2020-05-21 00:13] #59 closed

[2020-05-21 08:06] llimz commented on #58
Here you are.

https://www.icloud.com/iclouddrive/0m5dK_4geRcueh9aKBY2ezBXQ#rootfs.ext2

@anmaped With pleasure, add me to your testers list !

[2020-05-21 11:21] ciB89 commented on #58
I'd be willing to test any future releases for the SXJ02ZM model.

[2020-05-21 15:06] Ozzyminted commented on #58
Think this will fix boot loop on neos/wyze also? Where did you compile the
bootloader and rootfs images from btw?

On Thu, 21 May 2020, 12:21 ciB89, <notifications@github.com> wrote:

[2020-05-22 07:12] llimz commented on #58
I don't know if it will fix the boot loop on neos/wyze. I don't have those cameras.

I built the bootloader and rootfs by using the git repository. You can find more details here https://github.com/anmaped/openfang/blob/master/doc/docker.md.

[2020-05-22 09:03] Ozzyminted commented on #58
weird that's what I did. will give it another  go on fresh system.

On Fri, 22 May 2020, 08:12 Jimmy Van den Bliek, <notifications@github.com>
wrote:

[2020-05-27 19:26] SaturnusDJ opened #60 "Wrong SHA-256 hash"
Downloaded images-0d1384c.tar.xz.
Extracted u-boot-lzo-with-spl.bin.
SHA-256: _9f432fd663892b9214ccecce40cc45801dbb7adc0bf0fec11f3ef3e232d9a000_

https://github.com/anmaped/openfang/blob/master/doc/install.md says _98fc8fb0d74f0a65aa765b4bd03b15474911ba9b14709ef0d156a6a801048ea6_

[2020-06-03 20:07] jakass202 commented on #58
@Ozzyminted did you manage to fix boot loop on neos?

[2020-06-04 09:24] djtomasnl commented on #58
Im new, but i succeeded to flash my xiaomi 2018 cam! Only thing difficulty is to compile the files, so thank you for putting the files in here!
It is not possible to update the openfang software at the webinterface. Do i need to flash the camera again? Or is it just enough to put the new software on the SD card?
Cam is working great, but changes its IP adress randomly (also mac adres?).. so, i hop

[2020-06-06 01:29] CamFlyerCH commented on #58
So I got the firmware running ! Thanks !

But I now find so many problems with it and I am wondering, of these are know problems or just in my setup. (Some of them forced me to reformat and redo the SD card. This changed also the IP !?!

- 1080 resolution not working
- microphone / audio
- storing LED settings
- Auto IR/Nightmode
- IR cut always on after reboot
- NTP time sync (it is always on UTP

[2020-06-07 18:08] andrein commented on #60
I was wondering the same. Would it be possible to add the checksums to the released binaries?

Thanks,
Andrei

[2020-06-21 11:11] Ozzyminted commented on #58
Tbh, i think i am going to reflash back to dafang-hacks. That repo is heavily developed and supported atm. Just need to put the old bootloader back

[2020-06-21 11:50] ciB89 commented on #58
Is it possible to run dafang-hacks on this camera? I was also thinking about it but was not sure how to accomplish this.

[2020-06-23 15:31] SaturnusDJ commented on #60
I guess the project is dead.

[2020-06-23 15:47] mgx0 commented on #60
Right, time to unsubscribe and throw the cameras away

[2020-06-23 23:20] eu-siemann commented on #58
I can add to the list that I haven't succeeded in connecting to 5GHz WiFi, and that the time string has completely disappeared from the OSD (probably a reboot will fix this).

To be honest, I don't think we can expect a well-defined project timeline, as it's obvious that this is developed as a hobby project.
And many thanks to the author that this project even exists and works.

But I do think tha

[2020-07-12 04:52] tachang commented on #56
@xdissent When you compiled and flashed the bootloader how large was the file? Is there a reason you didn't use the released one?

[2020-08-16 00:35] goncalossilva commented on #39
Also not working on 695670d5977bcb7b77c4fcbadeb9885c08546743 (latest master).

[2020-08-30 23:20] badigit opened #61 "Questions about flashing SXJ02ZM"
Is [here](https://github.com/anmaped/openfang/blob/master/doc/SXJ02ZM/SXJ02ZM_instructions.md) a complete manual?

After reprogramming, do I need to solder pin 8 back? Or not?

[2020-08-31 03:47] mgx0 commented on #61
Yes you need to solder it back otherwise the eeprom will not work

[2020-09-25 07:39] axlerose commented on #39
Any news about this issue?
Is the project alive?

[2020-09-30 13:18] Hypfer opened #62 "Bricked Dafang"
After following the instructions here:
https://github.com/anmaped/openfang/blob/master/doc/WYZECP1/wyzecp1_instructions.md

including the sha256sum verification of the uboot image, my newly bought dafang appears to be completely dead.

No LEDs, no Wifi AP and no other signs of life.

It does take 0.35 to 0.38A but that's all there is.
SKU is ZRM4040RT and according to the label, the manufacturing

[2020-09-30 14:22] Hypfer commented on #62
Disassembling the device and attaching something to the UART didn't result in anything useful either.
The motors did get very hot. Unplugging them caused the power draw to drop 0.00A

This thing is completely dead. It's just gone.
While this thing is indeed a very cheap camera, I'm very unhappy about this

[2020-09-30 14:39] Hypfer commented on #62
As it turns out, I did in fact not follow the instructions completely.

`flash_eraseall /dev/mtd0` was not executed before flashing
`always erase mtd0 device before flashing; otherwise you may break your device.`

You may want to change that to "otherwise you **will** break your device"

Edit:

Another thing that could prevent situations like these would be to add a short explaination _why_ fully

[2020-10-02 15:12] Hypfer commented on #62
I was able to get the camera into a working state again by following this https://github.com/Dafang-Hacks/spiflasher/issues/1#issuecomment-613026294 comment guide here.

For future reference:

`/dev/mtd0` is _not_ a regular sane block device like one would expect it to be but is instead raw(?) NAND flash with unexpected behaviour for people who have never dealt with it before.

Apparently it has t

[2020-10-02 15:12] #62 closed

[2020-10-13 17:08] cotarelo opened #63 "Flash without soldering"
Is it possible or will it be possible to flash without soldering and desoldering?

[2020-10-18 00:23] chopin94 opened #64 "Flash openfang with raspberry pi1 SPI"
Hi guys, I want to hack my cam SXJ02ZM.

I have opened the cam, i separed Vcc pin and I connected the pin of chip of my raspberry pi1.
I have used flashrom for backup the stock firmware and it's working. (flashrom -p linux_spi:dev=/dev/spidev0.0,spispeed=51                                                                                        2 -r backup.bin)
Then I erase the memory and i've tried

[2020-10-18 03:55] chopin94 commented on #64
I have flashed finally the boot but now the led orange is on without blink. have i break?

[2020-10-26 00:03] americodias commented on #39
Hi @minhan74!

Did you fixed this? I have the same problem.

Thanks,
Américo

[2020-10-26 08:42] axlerose commented on #39
Hi, I've the same problem.have anyone fix it?

[2020-11-02 09:52] pranas opened #65 "Wyze Cam V3"
Wyze recently announced the updated [Wyze Cam V3](https://wyze.com/wyze-cam-v3.html). It looks like a great improvement: f/1.6 aperture, 2x processing power. Anyone got any more info on these? Are they still based on common hardware? What are other products with the same hardware then? What are the capabilities of flashing open source firmware on them?

[2021-04-08 19:39] idarlund commented on #65
It's a T31 chip
https://fccid.io/2AUIUWYZEC3/Internal-Photos/Internal-Photos-5001016

[2021-04-09 10:41] anmaped commented on #65
Could someone be interested in sending me a wyzev2 and wyzev3 (t31)
(europe) to enable openfang on these devices?

Thanks.

On Thu, Apr 8, 2021, 8:40 PM Idar Lund ***@***.***> wrote:

[2021-04-12 18:25] SomebodySysop commented on #65
I can send you a V2.  How do I get it to you?

[2021-04-12 20:40] anmaped commented on #65
Use PM on openfang gitter channel.

On Mon, Apr 12, 2021, 7:25 PM SomebodySysop ***@***.***>
wrote:

[2021-12-03 04:55] AndrewBreyen commented on #65
Sorry to bump a possibly stale issue, but has there been updates on this?
I'm extremely interested in using this for my v3 cams

[2021-12-03 05:00] SomebodySysop commented on #65
Wyze has released, last I heard,  beta RTSP firmware for their V3 cameras: https://support.wyze.com/hc/en-us/articles/360026245231-Wyze-Cam-RTSP

There is also a github project which allows you to expose an RTSP stream from your V3 cameras without using customized firmware: https://github.com/mrlt8/docker-wyze-bridge

[2022-06-09 02:37] fastiuk commented on #39
There is no fix. Xiaomi Mijia 2018 v3 doesn't have a light sensor. I opened it and checked.
The only solution here is to use "autonight -S" in "/opt/controlscripts/auto-night-detection" script.